.c-sidebar-nav-title {
    padding: 0.75rem 1rem 0.2rem 1rem;
    margin: 0;
}

.row.g-3 {
    margin: 5px -15px 5px -15px !important;
}

.g-3.row label{
    display: block;
}

.ag-theme-alpine {
    min-height: 390px;
    margin: 5px 15px 5px 15px !important;
    width: 100%;
}

.grid-in-buttons {
    height: 27px;
    vertical-align: inherit;
    padding: 1px 6px !important;
}

.ant-tree-switcher, .ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {
    line-height: 18px !important;
}

.toast {
    position: absolute;
    z-index: 9999;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.function-btns > button {
    float: right;
    margin: 32px 5px 0px 5px;
}

.modal-plain-size.ant-modal {
    width: 520px !important;
}

.modal-middle-size.ant-modal {
    width: 660px !important;
}

.modal-big-size.ant-modal {
    width: 800px !important;
}

.flatpickr-input button {
    display: none;
}

.input-group .flatpickr-input {
    width: auto;
}

.input-group.flatpickr-input > input {
    border-radius: 0.25rem !important;
}

.approval-line-sortable {
    list-style: auto;
    border: 1px dashed black;
    border-radius: 6px;
}

.SortableList {
    position: relative;
    z-index: 0;
    background-color: #F3F3F3;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    outline: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #E0E0E0;
    list-style: none;
    padding: 0;
}

.SortableItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background-color: #FFF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 500;
    z-index: 999999999999;
}

.SortableItem i {
    color: red;
    margin: 4px 0 0 10px;
}

.SortableHelper {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    cursor: row-resize;
}

.preset-name-div input {
    float: right;
    width: 240px;
}

.show-cell {
    background: white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
}

.approval-detail-content td {
    border: 1px solid #afafaf;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
}

.approval-info tr > td {
    font-size: 16px;
}

.approval-detail-table {
    width: 100%;
}

.approval-detail-table textarea {
    width: 100%;
}

.approval-detail-table .title {
    background: #e7e7e7;
}

.approval-detail-table .value {
    background: whitesmoke;
}

.approval-flow-table {
    margin: 0 10px
}

.approval-flow-table .status {
    width: 30px;
    background: rgba(153, 153, 153, 0.18);
}

.approval-flow-table .name {
    height: 70px;
    width: 90px;
    background: rgba(251, 251, 251, 0.05);
}

.approval-flow-table .date {
    height: 25px;
    width: 90px;
    background: rgba(251, 251, 251, 0.05);
}

.ag-overlay-no-rows-wrapper {
    background-color: rgba(255, 255, 255, 0.66);
    pointer-events: all;
}

.ant-tree {
    background: rgba(0, 0, 0, 0.03) !important;
    padding: 10px !important;
    border: 1px solid #dee2e6 !important;
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected .ant-tree-switcher {
    color: black !important;
}

.treeview-search {
    background: none;
    border: none;
    position: relative;
    bottom: 3px;
    color: blue;
}

.site-tree-search-value {
    color: #f50;
}

.ant-select-dropdown, .ant-message {
    z-index: 9999999999 !important;
}

.ant-message .anticon {
    top: -3px !important;
}

.ant-input {
    padding: 4px 8px !important;
    display: block !important;
}

.ant-picker {
    display: block !important;
}

.ant-steps-item-title {
    top: 4px !important;
}

.ant-steps-item-title::after {
    top: 18px !important;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}

.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes-month {
    font-size: 28px;
    text-align: center;
}

.notes-month section {
    font-size: 28px;
}

.ant-picker-calendar-mode-switch {
    display: none !important;
}

.ag-center-cols-viewport .ant-picker {
    position: relative !important;
    top: 3px !important;
}

.ant-badge {
    left: 13px !important
}

.ag-react-container .anticon {
    position: relative;
    top: -3px;
    transform: scale(1.3);
}

.ag-react-container .table-in-button {
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}

.anticon.timeline-clock-icon {
    transform: scale(1.3) !important;
    position: relative !important;
    top: -3px !important;
}

.ant-btn.ant-btn-dashed {
    border-color: #bcbcbc !important;
    font-size: 12px !important;
    padding: 0px 12px !important;
    height: 27px !important;
    border-radius: 12px !important;
    margin-left: 8px !important;
}

.limit-max-width {
    /*float: right !important;*/
}

.limit-max-width .ant-steps-item {
    width: 200px !important;
    max-width: 200px !important;
}

.token-checking {
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.08);
}

.token-checking {
    background: rgba(255, 255, 255, 0.08);
}

.header-toggle-button > span {
    background: #bdbdbd;
    width: 24px;
    line-height: 24px;
    border-radius: 12px;
    transform: scale(1.3);
}

.header-session-timer {
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

.header-session-timer .ant-statistic-title {
    margin-bottom: 0px !important;
    font-size: 10px !important;
}

.header-session-timer .ant-statistic-content {
    font-size: 20px !important;
}


.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100% !important;
}

@media (min-width: 768px) {
    html:not([dir=rtl]) .sidebar.sidebar-fixed:not(.sidebar-end) {
        left: auto !important;
    }
}

.time-count p {
    margin: 0 !important;
}

.ant-picker.ant-picker-range {
    display: inline-flex !important;
}

.ant-picker.ant-picker-range .ant-picker-range-separator .anticon {
    vertical-align: 0.575em !important;
}

.node-select-radio .ant-radio-group {
    display: block !important;
    padding: 0 0 8px 0 !important;
}

.c-header-nav .c-avatar {
    background: #aeaeae;
    font-size: 19px;
}

.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: rgba(142, 141, 156, 0.42);
}

.ant-picker-calendar.ant-picker-calendar-full{
    width: 100%;
}